<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8" />
     	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
    <div class="container">
    	<div class="row">
    		<div class="col">
            <h1 th:text="${verein.vereinsName}">!</h1>
            <h3 th:text="${verein.foundedAt}"></h3>
            <br>
            <div style="display: inline">
	            <a class="btn btn-dark" th:href="@{/vereine/updateVerein/{id}/(id=${verein.id})}">Aktualisieren</a>
	            <form style="display: inline" th:object="${verein}" th:action="@{/vereine/delete/{id}/(id=${verein.id})}" method="post" name="delete">
					<button class="btn btn-danger" type="submit">Löschen</button>  
				</form>
			</div>
       
  			<br>
        	<h2>Spieler des <span th:text="${verein.vereinsName}"></span></h2>
        	<ul th:each="spieler : ${verein.spielerListe}">
		       <li>
		       		<a th:href="@{/vereine/spielerdetails/{id}(id=${spieler.id})}">
		       		<span th:text="${spieler.name}"></span>
		       </a></li>
		    </ul>

	       
	        <hr>
	       <h3>Füge Spieler hinzu</h3>
	        <form th:object="${spieler}" th:action="@{/vereine/submit/{id}/(id=${verein.id})}" method="post">  
				<p>Name:<br> <input type="text" th:field="*{name}"></p>    
				<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>     
				<p>Nummer:<br> <input type="text" th:field="*{nummer}"></p>
				<p>Gehalt:<br> <input type="text" th:field="*{Gehalt}"></p>
				<p><input class="btn btn-primary" type="submit"></p>   
			</form>
		   </div>
    	</div>
    </div>
 
		
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
</html>